<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.ApproveMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.Approve">
		SELECT t.*
		FROM eb_approve t
		<where>
			AND t.deleted_at IS NULL
			<if test="query.nameLike != null and query.nameLike != ''">
				AND t.name LIKE CONCAT('%', #{query.nameLike}, '%')
			</if>
			<if test="query.filterTypes != null">
				AND t.types = #{query.filterTypes}
			</if>
			<if test="query.filterStatus != null">
				AND t.status = #{query.filterStatus}
			</if>
			<if test="query.filterExamine != null">
				AND t.examine = #{query.filterExamine}
			</if>
			<if test="query.filterEntid != null">
				AND t.entid = #{query.filterEntid}
			</if>
		</where>
		ORDER BY t.sort ASC, t.id DESC
	</select>

</mapper>
