<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.AssessMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.Assess">
		SELECT a.*
		FROM eb_assess a
		<where>
			AND a.`deleted_at` IS NULL
			<if test="query.entid != null">
				AND a.entid = #{query.entid}
			</if>
			<if test="query.testUid != null">
				AND a.test_uid = #{query.testUid}
			</if>
			<if test="query.checkUid != null">
				AND a.check_uid = #{query.checkUid}
			</if>
			<if test="query.planId != null">
				AND a.planid = #{query.planId}
			</if>
			<if test="query.period != null">
				AND a.period = #{query.period}
			</if>
			<if test="query.status != null">
				AND a.status = #{query.status}
			</if>
			<if test="query.frameId != null">
				AND a.frame_id = #{query.frameId}
			</if>
			<if test="query.isShow != null">
				AND a.is_show = #{query.isShow}
			</if>
		</where>
		ORDER BY a.id DESC
	</select>

	<select id="countAssessSpace" resultType="int">
		SELECT COUNT(1)
		FROM eb_assess_space
		WHERE entid = #{entid}
		  AND assessid = #{assessId}
		  AND id = #{spaceId}
		  AND deleted_at IS NULL
	</select>

	<select id="findAbnormalTestUids" resultType="java.lang.Long">
		SELECT pu.test_uid
		FROM eb_assess_plan_user pu
				 INNER JOIN eb_assess_plan p ON p.id = pu.planid AND p.entid = pu.entid
		WHERE p.entid = #{entid}
		  AND p.period = #{period}
		  AND p.status = 1
		  AND pu.test_uid NOT IN (SELECT a.test_uid
								  FROM eb_assess a
								  WHERE a.entid = #{entid}
									AND a.period = #{period}
									AND a.start_time = #{start}
									AND a.end_time = #{end}
									AND a.`delete` IS NULL)
	</select>

</mapper>
