<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.AttendanceGroupMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.AttendanceGroup">
		SELECT t.*
		FROM eb_attendance_group t
		<where>
			AND t.deleted_at IS NULL
			<if test="query.nameLike != null and query.nameLike != ''">
				AND t.name LIKE CONCAT('%', #{query.nameLike}, '%')
			</if>
		</where>
		ORDER BY t.created_at DESC, t.id DESC
	</select>

</mapper>
