<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.AttendanceShiftRuleMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.AttendanceShiftRule">
		SELECT t.*
		FROM eb_attendance_shift_rule t
		WHERE t.deleted_at IS NULL
		ORDER BY t.shift_id ASC, t.number ASC, t.id ASC
	</select>

</mapper>
