<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.ClientLabelMapper">
	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.ClientLabel">
		SELECT t.* FROM eb_client_label t
		<where>
			<if test="query.entid != null">
				AND t.entid = #{query.entid}
			</if>
			<if test="query.pid != null">
				AND t.pid = #{query.pid}
			</if>
			<if test="query.name != null and query.name != ''">
				AND t.name LIKE CONCAT('%', #{query.name}, '%')
			</if>
		</where>
		ORDER BY t.sort ASC, t.id ASC
	</select>
</mapper>
