<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.ClientInvoiceLogMapper">
	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.ClientInvoiceLog">
		SELECT t.* FROM eb_client_invoice_log t
		<where>
			<if test="query.invoiceId != null">
				AND t.invoice_id = #{query.invoiceId}
			</if>
		</where>
		ORDER BY t.id DESC
	</select>
</mapper>
