<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.ClientContractSubscribeMapper">
	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.ClientContractSubscribe">
		SELECT t.* FROM eb_client_contract_subscribe t
		<where>
			<if test="query.cid != null">
				AND t.cid = #{query.cid}
			</if>
			<if test="query.uid != null">
				AND t.uid = #{query.uid}
			</if>
		</where>
		ORDER BY t.id DESC
	</select>
</mapper>
