<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.ContractMapper">
	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.Contract">
		SELECT t.* FROM eb_contract t
		<where>
			AND t.deleted_at IS NULL
			<if test="query.eid != null">
				AND t.eid = #{query.eid}
			</if>
			<if test="query.uid != null">
				AND t.uid = #{query.uid}
			</if>
			<if test="query.queryTypes != null and query.queryTypes == 6 and query.queryUidList != null and query.queryUidList.size() &gt; 0">
				AND t.uid IN
				<foreach collection="query.queryUidList" item="u" open="(" separator="," close=")">#{u}</foreach>
			</if>
			<if test="query.contractName != null and query.contractName != ''">
				AND t.contract_name LIKE CONCAT('%', #{query.contractName}, '%')
			</if>
		</where>
		ORDER BY t.id DESC
	</select>
</mapper>
