<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.CustomerRecordMapper">
	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.CustomerRecord">
		SELECT t.* FROM eb_customer_record t
		<where>
			<if test="query.eid != null">
				AND t.eid = #{query.eid}
			</if>
		</where>
		ORDER BY t.id DESC
	</select>
</mapper>
