<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.DictTypeMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.DictType">
		SELECT t.*
		FROM eb_dict_type t
		<where>
			<if test="query.name != null and query.name != ''">
				AND t.name LIKE CONCAT('%', #{query.name}, '%')
			</if>
			<if test="query.linkType != null and query.linkType != ''">
				AND t.link_type = #{query.linkType}
			</if>
			<if test="query.status != null">
				AND t.status = #{query.status}
			</if>
		</where>
		ORDER BY t.id DESC
	</select>

</mapper>
