<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.RankLevelMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.RankLevel">
		SELECT t.*
		FROM eb_rank_level t
		<where>
			AND t.deleted_at IS NULL
			<if test="query.entid != null">
				AND t.entid = #{query.entid}
			</if>
			<if test="query.jobId != null">
				AND t.job_id = #{query.jobId}
			</if>
			<if test="query.rankId != null">
				AND t.rank_id = #{query.rankId}
			</if>
			<if test="query.status != null">
				AND t.status = #{query.status}
			</if>
		</where>
		ORDER BY t.sort ASC, t.id ASC
	</select>

	<select id="findUnrelatedRanks" resultType="com.bubblecloud.oa.api.entity.Rank">
		SELECT r.*
		FROM eb_rank r
		WHERE r.deleted_at IS NULL
		  AND r.entid = #{entid}
		  AND r.id NOT IN (
		      SELECT rl.rank_id FROM eb_rank_level rl
		      WHERE rl.job_id = #{jobId} AND rl.deleted_at IS NULL AND rl.rank_id IS NOT NULL
		  )
		ORDER BY r.sort ASC, r.id DESC
	</select>

</mapper>
