<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.SystemAttachMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.SystemAttach">
		SELECT t.*
		FROM eb_system_attach t
		<where>
			AND t.entid = #{query.entid}
		</where>
		ORDER BY t.id DESC
	</select>

	<select id="selectClientRelationPage" resultType="com.bubblecloud.oa.api.entity.SystemAttach">
		SELECT t.* FROM eb_system_attach t
		<where>
			AND t.entid = #{entid}
			<choose>
				<when test="eid != null and eid > 0">
					AND (
					(t.relation_type = 2 AND t.relation_id IN (SELECT id FROM eb_client_bill WHERE entid = #{entid} AND eid = #{eid}))
					OR (t.relation_type = 3 AND t.relation_id IN (SELECT id FROM eb_contract_resource WHERE entid = #{entid} AND eid = #{eid}))
					OR (t.relation_type = 4 AND t.relation_id = #{eid})
					OR (t.relation_type = 5 AND t.relation_id IN (SELECT id FROM eb_client_follow WHERE eid = #{eid} AND deleted_at IS NULL))
					OR (t.relation_type = 6 AND t.relation_id IN (SELECT id FROM eb_client_invoice WHERE entid = #{entid} AND eid = #{eid}))
					)
				</when>
				<otherwise>
					AND t.relation_type IN (2, 3, 4, 5, 6)
				</otherwise>
			</choose>
		</where>
		ORDER BY t.id DESC
	</select>

	<select id="countImageList" resultType="long">
		SELECT COUNT(1) FROM eb_system_attach t
		<where>
			AND t.entid = #{c.entid}
			AND t.way = #{c.way}
			<if test="c.cid != null">
				AND t.cid = #{c.cid}
			</if>
			<if test="c.upType != null">
				AND t.up_type = #{c.upType}
			</if>
			<if test="c.nameLike != null and c.nameLike != ''">
				AND t.real_name LIKE CONCAT('%', #{c.nameLike}, '%')
			</if>
			<if test="c.fileExt != null and c.fileExt.size() &gt; 0">
				AND t.file_ext IN
				<foreach collection="c.fileExt" item="e" open="(" separator="," close=")">
					#{e}
				</foreach>
			</if>
		</where>
	</select>

	<select id="selectImageList" resultType="com.bubblecloud.oa.api.entity.SystemAttach">
		SELECT t.* FROM eb_system_attach t
		<where>
			AND t.entid = #{c.entid}
			AND t.way = #{c.way}
			<if test="c.cid != null">
				AND t.cid = #{c.cid}
			</if>
			<if test="c.upType != null">
				AND t.up_type = #{c.upType}
			</if>
			<if test="c.nameLike != null and c.nameLike != ''">
				AND t.real_name LIKE CONCAT('%', #{c.nameLike}, '%')
			</if>
			<if test="c.fileExt != null and c.fileExt.size() &gt; 0">
				AND t.file_ext IN
				<foreach collection="c.fileExt" item="e" open="(" separator="," close=")">
					#{e}
				</foreach>
			</if>
		</where>
		ORDER BY t.id DESC
		LIMIT #{c.offset}, #{c.limit}
	</select>

	<update id="updateCidByIds">
		UPDATE eb_system_attach SET cid = #{cid}, updated_at = NOW()
		WHERE entid = #{entid}
		AND id IN
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>
