<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.SystemConfigMapper">

	<resultMap id="systemConfigMap" type="com.bubblecloud.oa.api.entity.SystemConfig">
		<id property="id" column="id" />
		<result property="menuName" column="key_name" />
		<result property="value" column="value" />
		<result property="type" column="type" />
		<result property="sort" column="sort" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.SystemConfig">
		SELECT t.*
		FROM eb_system_config t
	</select>

</mapper>
