<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.UserMemorialMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.UserMemorial">
		SELECT t.*
		FROM eb_user_memorial t
		<where>
			<if test="query.uid != null and query.uid != ''">
				AND t.uid = #{query.uid}
			</if>
			<if test="query.pid != null">
				AND t.pid = #{query.pid}
			</if>
			<if test="query.titleSearch != null and query.titleSearch != ''">
				AND (t.title LIKE CONCAT('%', #{query.titleSearch}, '%')
				OR t.content LIKE CONCAT('%', #{query.titleSearch}, '%'))
			</if>
		</where>
		ORDER BY t.updated_at DESC
	</select>

	<select id="selectByUidAndMonth" resultType="com.bubblecloud.oa.api.entity.UserMemorial">
		SELECT t.*
		FROM eb_user_memorial t
		<where>
			t.uid = #{uid}
			AND DATE_FORMAT(t.updated_at, '%Y-%m') = #{ym}
			<if test="pid != null">
				AND t.pid = #{pid}
			</if>
			<if test="titleSearch != null and titleSearch != ''">
				AND (t.title LIKE CONCAT('%', #{titleSearch}, '%')
				OR t.content LIKE CONCAT('%', #{titleSearch}, '%'))
			</if>
		</where>
		ORDER BY t.updated_at DESC
	</select>

	<select id="selectMonthsPage" resultType="java.lang.String">
		SELECT ym FROM (
			SELECT DATE_FORMAT(t.updated_at, '%Y-%m') AS ym
			FROM eb_user_memorial t
			<where>
				t.uid = #{uid}
				<if test="pid != null">
					AND t.pid = #{pid}
				</if>
				<if test="titleSearch != null and titleSearch != ''">
					AND (t.title LIKE CONCAT('%', #{titleSearch}, '%')
					OR t.content LIKE CONCAT('%', #{titleSearch}, '%'))
				</if>
			</where>
			GROUP BY DATE_FORMAT(t.updated_at, '%Y-%m')
		) g
		ORDER BY ym DESC
		LIMIT #{offset}, #{limit}
	</select>

	<select id="countDistinctMonth" resultType="long">
		SELECT COUNT(*) FROM (
			SELECT 1
			FROM eb_user_memorial t
			<where>
				t.uid = #{uid}
				<if test="pid != null">
					AND t.pid = #{pid}
				</if>
				<if test="titleSearch != null and titleSearch != ''">
					AND (t.title LIKE CONCAT('%', #{titleSearch}, '%')
					OR t.content LIKE CONCAT('%', #{titleSearch}, '%'))
				</if>
			</where>
			GROUP BY DATE_FORMAT(t.updated_at, '%Y-%m')
		) x
	</select>

</mapper>
