<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.UserEnterpriseApplyMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.UserEnterpriseApply">
		SELECT t.*
		FROM eb_user_enterprise_apply t
	</select>

	<select id="countInviterReview" resultType="long">
		SELECT COUNT(1)
		FROM eb_user_enterprise_apply
		WHERE entid = #{entid}
		  AND status = 1
		  AND verify = 0
	</select>

</mapper>
