<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.AttendanceStatisticsMapper">

	<sql id="dailyWhere">
		<where>
			AND t.deleted_at IS NULL
			<if test="q.uidIn != null and q.uidIn.size() > 0">
				AND t.uid IN
				<foreach collection="q.uidIn" item="id" open="(" separator="," close=")">
					#{id}
				</foreach>
			</if>
			<if test="q.frameId != null and q.frameId > 0">
				AND t.frame_id = #{q.frameId}
			</if>
			<if test="q.groupId != null and q.groupId > 0">
				AND t.group_id = #{q.groupId}
			</if>
			<if test="q.rangeStart != null and q.rangeEnd != null">
				AND t.created_at &gt;= #{q.rangeStart} AND t.created_at &lt;= #{q.rangeEnd}
			</if>
			<if test="q.statusInShifts != null and q.statusInShifts.size() > 0">
				AND (
				t.one_shift_status IN
				<foreach collection="q.statusInShifts" item="st" open="(" separator="," close=")">#{st}</foreach>
				OR t.two_shift_status IN
				<foreach collection="q.statusInShifts" item="st" open="(" separator="," close=")">#{st}</foreach>
				OR t.three_shift_status IN
				<foreach collection="q.statusInShifts" item="st" open="(" separator="," close=")">#{st}</foreach>
				OR t.four_shift_status IN
				<foreach collection="q.statusInShifts" item="st" open="(" separator="," close=")">#{st}</foreach>
				)
			</if>
			<if test="q.locationEqAnyShift != null">
				AND (
				t.one_shift_location_status = #{q.locationEqAnyShift}
				OR t.two_shift_location_status = #{q.locationEqAnyShift}
				OR t.three_shift_location_status = #{q.locationEqAnyShift}
				OR t.four_shift_location_status = #{q.locationEqAnyShift}
				)
			</if>
		</where>
	</sql>

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.AttendanceStatistics">
		SELECT t.*
		FROM eb_attendance_statistics t
		WHERE t.deleted_at IS NULL
		ORDER BY t.id DESC
	</select>

	<select id="countDailySearch" resultType="long">
		SELECT COUNT(1)
		FROM eb_attendance_statistics t
		<include refid="dailyWhere"/>
	</select>

	<select id="selectDailySearch" resultType="com.bubblecloud.oa.api.entity.AttendanceStatistics">
		SELECT t.*
		FROM eb_attendance_statistics t
		<include refid="dailyWhere"/>
		ORDER BY t.id DESC
		LIMIT #{limit} OFFSET #{offset}
	</select>

	<sql id="monthlyWhere">
		<where>
			AND t.deleted_at IS NULL
			<if test="q.monthYm != null and q.monthYm != ''">
				AND DATE_FORMAT(t.created_at, '%Y-%m') = #{q.monthYm}
			</if>
			<if test="q.uidIn != null and q.uidIn.size() > 0">
				AND t.uid IN
				<foreach collection="q.uidIn" item="id" open="(" separator="," close=")">
					#{id}
				</foreach>
			</if>
			<if test="q.frameId != null and q.frameId > 0">
				AND t.frame_id = #{q.frameId}
			</if>
			<if test="q.groupId != null and q.groupId > 0">
				AND t.group_id = #{q.groupId}
			</if>
			<if test="q.statusInShifts != null and q.statusInShifts.size() > 0">
				AND (
				t.one_shift_status IN
				<foreach collection="q.statusInShifts" item="st" open="(" separator="," close=")">#{st}</foreach>
				OR t.two_shift_status IN
				<foreach collection="q.statusInShifts" item="st" open="(" separator="," close=")">#{st}</foreach>
				OR t.three_shift_status IN
				<foreach collection="q.statusInShifts" item="st" open="(" separator="," close=")">#{st}</foreach>
				OR t.four_shift_status IN
				<foreach collection="q.statusInShifts" item="st" open="(" separator="," close=")">#{st}</foreach>
				)
			</if>
			<if test="q.locationEqAnyShift != null">
				AND (
				t.one_shift_location_status = #{q.locationEqAnyShift}
				OR t.two_shift_location_status = #{q.locationEqAnyShift}
				OR t.three_shift_location_status = #{q.locationEqAnyShift}
				OR t.four_shift_location_status = #{q.locationEqAnyShift}
				)
			</if>
		</where>
	</sql>

	<select id="countDistinctUidMonthly" resultType="long">
		SELECT COUNT(DISTINCT t.uid)
		FROM eb_attendance_statistics t
		<include refid="monthlyWhere"/>
	</select>

	<select id="selectMonthlyRows" resultType="com.bubblecloud.oa.api.entity.AttendanceStatistics">
		SELECT s.*
		FROM eb_attendance_statistics s
		INNER JOIN (
			SELECT t.uid AS u, MAX(t.id) AS max_id
			FROM eb_attendance_statistics t
			<include refid="monthlyWhere"/>
			GROUP BY t.uid
		) x ON s.id = x.max_id
		WHERE s.deleted_at IS NULL
		ORDER BY s.id DESC
		LIMIT #{limit} OFFSET #{offset}
	</select>

	<select id="avgActualWorkHours" resultType="java.math.BigDecimal">
		SELECT IFNULL(AVG(t.actual_work_hours), 0)
		FROM eb_attendance_statistics t
		WHERE t.deleted_at IS NULL
		  AND t.uid = #{uid}
		  AND t.created_at &gt;= #{start}
		  AND t.created_at &lt;= #{end}
	</select>

	<select id="countNormalDays" resultType="long">
		SELECT COUNT(1)
		FROM eb_attendance_statistics t
		WHERE t.deleted_at IS NULL
		  AND t.uid = #{uid}
		  AND t.created_at &gt;= #{start}
		  AND t.created_at &lt;= #{end}
		  AND (
			t.one_shift_status &gt; 0 OR t.two_shift_status &gt; 0 OR t.three_shift_status &gt; 0 OR t.four_shift_status &gt; 0
			)
	</select>

	<select id="countAnyShiftStatusInRange" resultType="long">
		SELECT COUNT(1)
		FROM eb_attendance_statistics t
		WHERE t.deleted_at IS NULL
		  AND t.uid = #{uid}
		  AND t.created_at &gt;= #{start}
		  AND t.created_at &lt;= #{end}
		  AND (
			t.one_shift_status IN
			<foreach collection="statuses" item="st" open="(" separator="," close=")">#{st}</foreach>
			OR t.two_shift_status IN
			<foreach collection="statuses" item="st" open="(" separator="," close=")">#{st}</foreach>
			OR t.three_shift_status IN
			<foreach collection="statuses" item="st" open="(" separator="," close=")">#{st}</foreach>
			OR t.four_shift_status IN
			<foreach collection="statuses" item="st" open="(" separator="," close=")">#{st}</foreach>
			)
	</select>

	<select id="selectByUidAndRange" resultType="com.bubblecloud.oa.api.entity.AttendanceStatistics">
		SELECT t.*
		FROM eb_attendance_statistics t
		WHERE t.deleted_at IS NULL
		  AND t.uid = #{uid}
		  AND t.created_at &gt;= #{start}
		  AND t.created_at &lt;= #{end}
	</select>

	<select id="selectByUidAndMonth" resultType="com.bubblecloud.oa.api.entity.AttendanceStatistics">
		SELECT t.*
		FROM eb_attendance_statistics t
		WHERE t.deleted_at IS NULL
		  AND t.uid = #{uid}
		  AND DATE_FORMAT(t.created_at, '%Y-%m') = #{monthYm}
	</select>

	<select id="selectAbnormalCandidates" resultType="com.bubblecloud.oa.api.entity.AttendanceStatistics">
		SELECT t.*
		FROM eb_attendance_statistics t
		<where>
			AND t.deleted_at IS NULL
			AND t.uid = #{uid}
			<if test="q.rangeStart != null and q.rangeEnd != null">
				AND t.created_at &gt;= #{q.rangeStart} AND t.created_at &lt;= #{q.rangeEnd}
			</if>
			<if test="q.monthYm != null and q.monthYm != ''">
				AND DATE_FORMAT(t.created_at, '%Y-%m') = #{q.monthYm}
			</if>
			AND (
			<choose>
				<when test="q.repairStatusIn != null and q.repairStatusIn.size() > 0 and q.repairLocationStatus != null">
					(
					t.one_shift_status IN
					<foreach collection="q.repairStatusIn" item="st" open="(" separator="," close=")">#{st}</foreach>
					OR t.two_shift_status IN
					<foreach collection="q.repairStatusIn" item="st" open="(" separator="," close=")">#{st}</foreach>
					OR t.three_shift_status IN
					<foreach collection="q.repairStatusIn" item="st" open="(" separator="," close=")">#{st}</foreach>
					OR t.four_shift_status IN
					<foreach collection="q.repairStatusIn" item="st" open="(" separator="," close=")">#{st}</foreach>
					)
					OR
					(
					t.one_shift_location_status = #{q.repairLocationStatus}
					OR t.two_shift_location_status = #{q.repairLocationStatus}
					OR t.three_shift_location_status = #{q.repairLocationStatus}
					OR t.four_shift_location_status = #{q.repairLocationStatus}
					)
				</when>
				<when test="q.repairStatusIn != null and q.repairStatusIn.size() > 0">
					(
					t.one_shift_status IN
					<foreach collection="q.repairStatusIn" item="st" open="(" separator="," close=")">#{st}</foreach>
					OR t.two_shift_status IN
					<foreach collection="q.repairStatusIn" item="st" open="(" separator="," close=")">#{st}</foreach>
					OR t.three_shift_status IN
					<foreach collection="q.repairStatusIn" item="st" open="(" separator="," close=")">#{st}</foreach>
					OR t.four_shift_status IN
					<foreach collection="q.repairStatusIn" item="st" open="(" separator="," close=")">#{st}</foreach>
					)
				</when>
				<when test="q.repairLocationStatus != null">
					(
					t.one_shift_location_status = #{q.repairLocationStatus}
					OR t.two_shift_location_status = #{q.repairLocationStatus}
					OR t.three_shift_location_status = #{q.repairLocationStatus}
					OR t.four_shift_location_status = #{q.repairLocationStatus}
					)
				</when>
				<otherwise>
					1 = 0
				</otherwise>
			</choose>
			)
		</where>
		ORDER BY t.id DESC
	</select>

</mapper>
