<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.AttendanceHandleRecordMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.AttendanceHandleRecord">
		SELECT t.*
		FROM eb_attendance_handle_record t
		ORDER BY t.id DESC
	</select>

	<select id="countByStatisticsId" resultType="long">
		SELECT COUNT(1)
		FROM eb_attendance_handle_record
		WHERE statistics_id = #{statisticsId}
	</select>

	<select id="selectPageByStatisticsId" resultType="com.bubblecloud.oa.api.entity.AttendanceHandleRecord">
		SELECT *
		FROM eb_attendance_handle_record
		WHERE statistics_id = #{statisticsId}
		ORDER BY id DESC
		LIMIT #{limit} OFFSET #{offset}
	</select>

</mapper>
