<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.EnterprisePaytypeMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.EnterprisePaytype">
		SELECT t.*
		FROM eb_enterprise_paytype t
		<where>
			<if test="query.entid != null">
				AND t.entid = #{query.entid}
			</if>
			<if test="query.status != null">
				AND t.status = #{query.status}
			</if>
			<if test="query.ident != null and query.ident != ''">
				AND t.ident = #{query.ident}
			</if>
			<if test="query.name != null and query.name != ''">
				AND t.name LIKE CONCAT('%', #{query.name}, '%')
			</if>
		</where>
		ORDER BY t.sort DESC, t.id DESC
	</select>

</mapper>
