<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.FrameAssistMapper">

	<select id="selectUserFrames" resultType="com.bubblecloud.oa.api.dto.FrameAssistView">
		SELECT fa.id AS id,
		       fa.entid AS entid,
		       fa.frame_id AS frameId,
		       fa.user_id AS userId,
		       fa.is_mastart AS isMastart,
		       fa.is_admin AS isAdmin,
		       fa.superior_uid AS superiorUid,
		       f.name AS frameName
		FROM eb_frame_assist fa
		LEFT JOIN eb_frame f ON f.id = fa.frame_id AND f.deleted_at IS NULL
		WHERE fa.user_id = #{userId}
		  AND fa.entid = #{entid}
		  AND fa.deleted_at IS NULL
		ORDER BY fa.is_mastart DESC
	</select>

	<select id="selectFrameUsers" resultType="com.bubblecloud.oa.api.vo.frame.FrameAdminBriefVO">
		SELECT a.id AS id,
		       a.name AS name,
		       a.avatar AS avatar,
		       a.uid AS uid
		FROM eb_admin a
		INNER JOIN eb_frame_assist fa ON fa.user_id = a.id AND fa.deleted_at IS NULL
		WHERE fa.frame_id = #{frameId}
		  AND fa.entid = #{entid}
		  AND fa.is_mastart = 1
		  AND a.deleted_at IS NULL
		  AND a.status = 1
	</select>

	<select id="selectUsersByEnt" resultType="com.bubblecloud.oa.api.vo.frame.FrameAssistUserRowVO">
		SELECT fa.frame_id AS frameId,
		       a.id AS id,
		       a.name AS name,
		       a.avatar AS avatar,
		       a.phone AS phone,
		       a.job AS job,
		       a.uid AS uid
		FROM eb_frame_assist fa
		INNER JOIN eb_admin a ON a.id = fa.user_id AND a.deleted_at IS NULL
		WHERE fa.entid = #{entid}
		  AND fa.deleted_at IS NULL
		  AND a.status = 1
	</select>

</mapper>
