<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.FrameMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.Frame">
		SELECT t.*
		FROM eb_frame t
		WHERE t.deleted_at IS NULL
	</select>

	<select id="countByPid" resultType="long">
		SELECT COUNT(1)
		FROM eb_frame
		WHERE pid = #{pid}
		  AND entid = #{entid}
		  AND deleted_at IS NULL
	</select>

	<select id="selectMinIdByEntid" resultType="java.lang.Long">
		SELECT MIN(id)
		FROM eb_frame
		WHERE entid = #{entid}
		  AND deleted_at IS NULL
	</select>

	<select id="selectSubtreeFrameIds" resultType="java.lang.Integer">
		SELECT f.id
		FROM eb_frame f
		WHERE f.deleted_at IS NULL
		  AND f.entid = #{entid}
		  AND f.id != #{frameId}
		  AND (
			f.path LIKE CONCAT('%/', #{frameId}, '/%')
				OR f.path LIKE CONCAT('%/', #{frameId}, '/')
				OR f.path LIKE CONCAT('/', #{frameId}, '/%')
			)
	</select>

</mapper>
