<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubblecloud.biz.oa.mapper.RosterCycleShiftMapper">

	<select id="findPg" resultType="com.bubblecloud.oa.api.entity.RosterCycleShift">
		SELECT t.*
		FROM eb_roster_cycle_shift t
		WHERE t.deleted_at IS NULL
		ORDER BY t.cycle_id ASC, t.number ASC, t.id ASC
	</select>

	<delete id="physicalDeleteByCycleId">
		DELETE FROM eb_roster_cycle_shift WHERE cycle_id = #{cycleId}
	</delete>

</mapper>
